/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.container {
  width: 800px;
  margin: 0 auto;
}
.container header {
  width: 750px;
  margin: 0 auto;
  background-color: whitesmoke;
}
.container header nav {
  display: flex;
  justify-content: flex-end;
  background-color: white;
}
.container header nav a {
  margin: 10px 20px;
  color: black;
  text-decoration: none;
}
@media (max-width: 500px) {
  .container header nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.container header img {
  margin: 30px;
}
@media (max-width: 500px) {
  .container header img {
    display: none;
  }
}
.container header .start {
  width: 720px;
  margin-left: 20px;
}
.container header .start h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}
.container header .start p {
  font-size: 1.3rem;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.container header .start #intro {
  font-size: 1rem;
  border-bottom: 0px;
}
.container header .start button {
  padding: 5px 15px;
  font-size: 1.1rem;
  background-color: gray;
  color: white;
  margin-bottom: 50px;
}
.container .bio {
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
}
.container .bio .about {
  width: 300px;
}
.container .bio .likes {
  width: 300px;
}
.container .bio .likes p {
  padding: 10px;
  border: 1px solid black;
}
.container .bio .likes .para {
  border-top: 0px;
  border-bottom: 0px;
}
.container .bio h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.container .work {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  justify-content: space-evenly;
  margin-left: 20px;
  width: 750px;
}
.container .work h3 {
  font-size: 1.3rem;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
.container .work .work-sec {
  display: flex;
  justify-items: flex-start;
  margin-top: 10px;
}
.container .work .work-sec p {
  font-size: 1.1rem;
  height: 40px;
  width: 25%;
  font-weight: bold;
}
.container .work .job {
  display: flex;
  justify-items: flex-start;
  vertical-align: 0 auto;
}
.container .work .job p {
  height: 50px;
  width: 25%;
  padding: 12.5px 0px;
}
.container .work .two {
  background-color: whitesmoke;
}
.container footer {
  width: 750px;
  background-color: gray;
  color: white;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-left: 20px;
}
